<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wolf.recyclerview">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.CountryActivity"/>
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoActivity"/>
        <activity android:name=".activity.FlowActivity"/>
        <activity android:name=".activity.SqActivity"/>
        <activity android:name=".activity.WebActivity"/>
        <activity android:name=".activity.SchoolActivity"/>
        <activity android:name=".activity.CodeActivity"/>


        <meta-data
            android:name="DATABASE"
            android:value="recyclerview.db"/>
        <meta-data
            android:name="VERSION"
            android:value="4"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.wolf.recyclerview"/>
    </application>

</manifest>